/* Sección Contacto */

#contact-form {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  
    form {
      display: flex;
      width: 85%;
      height: 65vh;
      background-color: #1A1A1A;
      box-shadow: 2px 12px 20px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(255, 255, 255, 0.01);
    }
  }
  
  .contact-left {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contact-right {
    width: 60%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid rgba(255, 255, 255, 0.08);
  
    button {
      width: 100%;
      height: 50px;
      background-color: #1ED98B;
      font-weight: bold;
      outline: none;
      border: none;
      margin: 0px;
      color: #1B1B1B;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  
  .c-l-heading {
    font-family: calibri;
    color: #FFFFFF;
    font-size: 2rem;
    letter-spacing: 2px;
    font-weight: 400;
  }
  
  .f-name, .f-email {
    display: flex;
    flex-direction: column;
    font-family: calibri;
  }
  
  .f-name font, .f-email font {
    color: #BFBFBF;
    font-size: 25px;
  }
  
  .f-name input {
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;
  }
  
  .f-email input {
    height: 40px;
    width: 250px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #929292;
    color: #FFFFFF;
    margin: 10px 0px;
  
    &::placeholder {
      opacity: 0.5;
      letter-spacing: 1px;
    }
  }
  
  .f-name input::placeholder {
    opacity: 0.5;
    letter-spacing: 1px;
  }
  
  .f-email input:focus, .f-name input:focus {
    border-bottom: 1px solid #17d1ac;
    transition: all ease 0.5s;
  }
  
  .message {
    font {
      font-size: 20px;
      color: #4E4E4E;
      font-family: calibri;
    }
  
    margin: 20px;
  }
  
  .contact-right {
    textarea {
      width: 100% !important;
      height: 320px !important;
      border: none;
      outline: none;
      background-color: transparent;
      box-sizing: border-box;
      color: #EBEBEB;
      font-size: 16px;
  
      &::placeholder {
        color: #EBEBEB;
        font-size: 18px;
        letter-spacing: 2px;
        font-family: calibri;
      }
    }
  
    button:active {
      transform: scale(1.04);
      transition: all ease 0.1s;
    }
  }
  